{% extends 'layouts/main.html' %}
{% block title %}Match List{% endblock %}
{% block content %}

<div class="page-header">
  <h1>Matching...</h1>
</div>

<div class="list-group" style="padding-top: 50px">
  <a href="{{ url_for('jane') }}" class="list-group-item">Jane
    <input class="btn btn-sm btn-info" type="button" value="Send request" disabled="disabled" style="float: right; padding: 1px">
  </a>
  <a href="{{ url_for('john') }}" class="list-group-item">John
    <input class="btn btn-sm btn-info" type="button" value="Send request" disabled="disabled" style="float: right; padding: 1px">
  </a>

{% endblock %}
