{% extends 'layouts/main.html' %}
{% block title %}Matches{% endblock %}
{% block content %}


<div class="list-group" style="padding: 50px 30px 100px 30px">

  <a href="#" class="list-group-item">Ryan
      <input class="btn btn-sm btn-info" type="button" value="View Profile"  style="float: right; padding: 1px">
  </a>
  <a href="#" class="list-group-item">Justin
      <input class="btn btn-sm btn-info" type="button" value="View Profile"  style="float: right; padding: 1px">
  </a>
  <a href="#" class="list-group-item">Grey
      <input class="btn btn-sm btn-info" type="button" value="View Profile"  style="float: right; padding: 1px">
  </a>
  <a href="#" class="list-group-item">Kevin
      <input class="btn btn-sm btn-info" type="button" value="View Profile"  style="float: right; padding: 1px">
  </a>
</div>

{% endblock %}
