{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<script>
    //(function funcc() {
    //    $("#matching").hide();
    //})();
    function func() {
        $("#matching").show();
    }
</script>

<div class="container" style="border-bottom:1px solid #ddd; padding: 50px;">
    <!--<form method = "POST">-->
      <div class="form-group">
        <label>Where to?</label>
        <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Enter your destination">
      </div>
      <div class="form-group">
        <label>Start Location</label>
        <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Enter your start location">
      </div>
      <div class="form-group">
        <label>Start Date</label>
          <input class="form-control mb-2 mr-sm-2" type="date" name="start_date"></input>
        </div>
      <div class="form-group">
        <label>Start Time</label>
        <input type="time" class="form-control mb-2 mr-sm-2" name="start_time">
      </div>
      <button name="isMatching" class="btn btn-primary" onclick="func()">Match!</button>
    <!-- </form> -->
</div>


<div id="matching" style="display:none;">
<div>
<h1>Matching...</h1>
</div>

<div class="list-group" style="padding: 50px">
<a href="{{ url_for('jane') }}" class="list-group-item">Jane
  <input class="btn btn-sm btn-info" type="button" value="Send request" disabled="disabled" style="float: right; padding: 1px">
</a>
<a href="{{ url_for('john') }}" class="list-group-item">John
  <input class="btn btn-sm btn-info" type="button" value="Send request" disabled="disabled" style="float: right; padding: 1px">
</a>
</div>
</div>

{% endblock %}
